compas
compas_tna
cvxpy
compas_viewer
matplotlib
compas_tno @ git+https://github.com/BlockResearchGroup/compas_tno.git@main
cadquery>=2.7.0
cyipopt>=1.7.0
torch
geomdl>=5.4.0
compas-occ @ git+https://github.com/compas-dev/compas_occ.git@main
streamlit
plotly
